<!DOCTYPE html>
<head>
    <style>
        form{
            width: 50%;
            margin: auto;
            
        }
        input{
            margin: 20px;
            height: 50px;
        }
        button{
            width: 200px;
            height: 50px;
        }

    </style>
</head>
<html>
    <body>
        <form action="/signup" method="POST">
            <label for="fname">SignUp</label><br><br>
            <label for="fname">Email</label><br>
            <input type="text" name="email" placeholder="Email" required><br>
            <label for="lname">Password</label><br>
            <input type="password" name="password" placeholder="password" required><br><br>
            <button type="submit">Submit</button>
            
        </form>
        <a href="/login">Login</a>
    </body>
</html>